<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
      <meta charset="UTF-8">
      <title>全国累计确诊/治愈/死亡趋势</title>
      <script type="text/javascript" src="js/echarts.min.js"></script>
</head>
<body>
      <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
      <div id="main" style="width: 750px;height:400px;"></div>

      <!-- th:inline作用是让js中也能使用thymeleaf实现动态数据传输 -->
      <script type="text/javascript" th:inline="javascript">
          // 基于准备好的dom，初始化echarts实例
          let myChart = echarts.init(document.getElementById('main'));
          // 使用thymeleaf接收后端传输的json字符串数据
          let dateListStr = [[${dateList}]];
          let confirmListStr = [[${confirmList}]];
          let healListStr = [[${healList}]];
          let deadListStr = [[${deadList}]];
          // 指定图表的配置项和数据
          let option = {
              title: {
                  text: '全国累计确诊/治愈/死亡趋势'
              },
              tooltip: {
                  trigger: 'axis'
              },
              legend: {
                  data: ['累计确诊', '累计治愈', '累计死亡']
              },
              xAxis: {
                  type: 'category',
                  data: JSON.parse(dateListStr)
              },
              yAxis: {
                  type: 'value'
              },
              series: [
                  {
                      name: '累计确诊',
                      type: 'line',
                      data: JSON.parse(confirmListStr)
                  },
                  {
                      name: '累计治愈',
                      type: 'line',
                      data: JSON.parse(healListStr)
                  },
                  {
                      name: '累计死亡',
                      type: 'line',
                      data: JSON.parse(deadListStr)
                  }
              ]
          };
          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);
      </script>
</body>
