<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>疫情地图</title>
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/china.js"></script>
</head>
<body>
    <div id="main" style="width:1000px;height:700px;"></div>
    <script th:inline="javascript">
        let beanListStr = [[${beanList}]];
        option = {
            title: {
                text: '疫情地图',
                subtext: '权威数据',
                x: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            series: [
                {
                    name: '现存确诊',
                    type: 'map',
                    mapType: 'china',
                    roam: false,
                    label: {
                        normal: {
                            // formatter: '{b}',
                            position: 'center',
                            show: true,
                            textStyle: {
                                color: 'rgba(0,0,0,0.4)'
                            }
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    data: JSON.parse(beanListStr)
                }
            ]
        };
        let chart = echarts.init(document.getElementById("main"))
        chart.setOption(option)
    </script>
</body>
</html>