<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
      <meta charset="UTF-8">
      <title>治愈率/死亡率</title>
      <script type="text/javascript" src="js/echarts.min.js"></script>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>

<!-- th:inline作用是让js中也能使用thymeleaf实现动态数据传输 -->
<script type="text/javascript" th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    let myChart = echarts.init(document.getElementById('main'));
    // 使用thymeleaf接收后端传输的json字符串数据
    let dateListStr = [[${dateList}]];
    let healRateListStr = [[${healRateList}]];
    let deadRateListStr = [[${deadRateList}]];
    // 指定图表的配置项和数据
    let option = {
        title: {
            text: '治愈率/死亡率'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['治愈率', '死亡率']
        },
        xAxis: {
            type: 'category',
            data: JSON.parse(dateListStr)
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '治愈率',
                type: 'line',
                data: JSON.parse(healRateListStr)
            },
            {
                name: '死亡率',
                type: 'line',
                data: JSON.parse(deadRateListStr)
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>